auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
*.org
/.gitignore~
/day10-searchandreplaceandregex.org~
/redhat6-whatsnew.org~
